In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
cities_data = "Resources/cities.csv"

In [3]:
city_data = pd.read_csv(cities_data)

In [4]:
city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,qaanaaq,77.48,-69.36,41.81,65,4,2.04,GL,1595751081
1,butaritari,3.07,172.79,83.34,73,0,18.59,KI,1595751083
2,ushuaia,-54.80,-68.30,28.40,92,75,9.17,AR,1595751085
3,yar-sale,66.83,70.83,60.48,64,100,12.30,RU,1595751087
4,acajutla,13.59,-89.83,71.01,99,100,4.70,SV,1595751089

In [5]:
# Convert csv to html without index column
city_data.to_html("cities.html", index=False)